<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BuyIt</display-name>
  <web_1:welcome-file-list>
    <web_1:welcome-file>homePageServlet</web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:error-page>
    <web_1:error-code>404</web_1:error-code>
    <web_1:location>/error404</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>500</web_1:error-code>
    <web_1:location>/error500</web_1:location>
  </web_1:error-page>
  <web_1:servlet>
    <web_1:servlet-name>Jersey REST Service</web_1:servlet-name>
    <web_1:servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</web_1:servlet-class>
    <web_1:init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.epam.lab.buyit.controller.web.service</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </web_1:init-param>
    <web_1:load-on-startup>1</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Jersey REST Service</web_1:servlet-name>
    <web_1:url-pattern>/rest/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>SearchServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.SearchServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>SearchServlet</web_1:servlet-name>
    <web_1:url-pattern>/searchServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>HomePageServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.HomePageServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>HomePageServlet</web_1:servlet-name>
    <web_1:url-pattern>/homePageServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>CategoryServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.CategoryServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>CategoryServlet</web_1:servlet-name>
    <web_1:url-pattern>/select_category</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>LoginServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.LoginServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>LoginServlet</web_1:servlet-name>
    <web_1:url-pattern>/loginServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>RegistrationServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.RegistrationServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>RegistrationServlet</web_1:servlet-name>
    <web_1:url-pattern>/registrationServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>LogOutServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.LogOutServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>LogOutServlet</web_1:servlet-name>
    <web_1:url-pattern>/logOutServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserPageServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserPageServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserPageServlet</web_1:servlet-name>
    <web_1:url-pattern>/userPageServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>checkLoginServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.CheckLoginServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>checkLoginServlet</web_1:servlet-name>
    <web_1:url-pattern>/check</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>EmailUsServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.EmailUsServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>EmailUsServlet</web_1:servlet-name>
    <web_1:url-pattern>/emailUs</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ProductDetailsServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.ProductDetailsServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ProductDetailsServlet</web_1:servlet-name>
    <web_1:url-pattern>/productDetails</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>StartSchedulerServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.StartSchedulerServlet</web_1:servlet-class>
    <web_1:load-on-startup>0</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:servlet>
    <web_1:servlet-name>BuyItServeServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.BuyItServeServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>BuyItServeServlet</web_1:servlet-name>
    <web_1:url-pattern>/buyItServe</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>CategoryViewerServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.CategoryViewerServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>CategoryViewerServlet</web_1:servlet-name>
    <web_1:url-pattern>/categoryViewer</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserSalesServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserSalesServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserSalesServlet</web_1:servlet-name>
    <web_1:url-pattern>/userSalesServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserShoppingServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserShoppingServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserShoppingServlet</web_1:servlet-name>
    <web_1:url-pattern>/userShoppingServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>CheckPasswordServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.CheckPasswordServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>CheckPasswordServlet</web_1:servlet-name>
    <web_1:url-pattern>/checkPassword</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ChangePasswordServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.ChangePasswordServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ChangePasswordServlet</web_1:servlet-name>
    <web_1:url-pattern>/changePasswordServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>SubCategoryServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.SubCategoryServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>SubCategoryServlet</web_1:servlet-name>
    <web_1:url-pattern>/subcategory</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserDeleteItemServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserDeleteItemServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserDeleteItemServlet</web_1:servlet-name>
    <web_1:url-pattern>/userDeleteItemServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>AdminPageServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.AdminPageServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>AdminPageServlet</web_1:servlet-name>
    <web_1:url-pattern>/adminPageServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>bidServeServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.BidServeServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>bidServeServlet</web_1:servlet-name>
    <web_1:url-pattern>/bid_serve</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>CreateCategoryServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.CreateCategoryServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>CreateCategoryServlet</web_1:servlet-name>
    <web_1:url-pattern>/createCategoryServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ForgetPasswordServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.ForgetPasswordServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ForgetPasswordServlet</web_1:servlet-name>
    <web_1:url-pattern>/forgetPasswordServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>userWallServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserWallServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>userWallServlet</web_1:servlet-name>
    <web_1:url-pattern>/user_wall</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserAddProductServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserAddProductServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserAddProductServlet</web_1:servlet-name>
    <web_1:url-pattern>/userAddProductServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserEditProductServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserEditProductServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserEditProductServlet</web_1:servlet-name>
    <web_1:url-pattern>/userEditProduct</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>leaveMessageServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.LeaveMessageServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>leaveMessageServlet</web_1:servlet-name>
    <web_1:url-pattern>/leave_message</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserRestoreProductServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserRestoreProductServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserRestoreProductServlet</web_1:servlet-name>
    <web_1:url-pattern>/userRestoreProduct</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserCommentsServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.UserCommentsServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserCommentsServlet</web_1:servlet-name>
    <web_1:url-pattern>/userCommentsServlet</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ratingServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.RatingServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ratingServlet</web_1:servlet-name>
    <web_1:url-pattern>/rating</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ChangeAvatarServlet</web_1:servlet-name>
    <web_1:servlet-class>com.epam.lab.buyit.controller.web.servlet.ChangeAvatarServlet</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ChangeAvatarServlet</web_1:servlet-name>
    <web_1:url-pattern>/change_avatar</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>Error</web_1:servlet-name>
    <web_1:jsp-file>/jsp/error404.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Error</web_1:servlet-name>
    <web_1:url-pattern>/error404</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>Error500</web_1:servlet-name>
    <web_1:jsp-file>/jsp/error500.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Error500</web_1:servlet-name>
    <web_1:url-pattern>/error500</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>HomePage</web_1:servlet-name>
    <web_1:jsp-file>/jsp/homePage.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>HomePage</web_1:servlet-name>
    <web_1:url-pattern>/homePage</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>NavbarLogin</web_1:servlet-name>
    <web_1:jsp-file>/jsp/navbarLogin.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>NavbarLogin</web_1:servlet-name>
    <web_1:url-pattern>/navbarLogin</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>Navbar</web_1:servlet-name>
    <web_1:jsp-file>/jsp/navbar.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Navbar</web_1:servlet-name>
    <web_1:url-pattern>/navbar</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>NavbarLogout</web_1:servlet-name>
    <web_1:jsp-file>/jsp/navbarLogout.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>NavbarLogout</web_1:servlet-name>
    <web_1:url-pattern>/navbarLogout</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>SidebarMenu</web_1:servlet-name>
    <web_1:jsp-file>/jsp/sidebarMenu.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>SidebarMenu</web_1:servlet-name>
    <web_1:url-pattern>/sidebarMenu</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>Registration</web_1:servlet-name>
    <web_1:jsp-file>/jsp/registration.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Registration</web_1:servlet-name>
    <web_1:url-pattern>/registration</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>Searching</web_1:servlet-name>
    <web_1:jsp-file>/jsp/searchResult.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Searching</web_1:servlet-name>
    <web_1:url-pattern>/searching</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>subCategoryViewer</web_1:servlet-name>
    <web_1:jsp-file>/jsp/subCategory_viewer.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>subCategoryViewer</web_1:servlet-name>
    <web_1:url-pattern>/category</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ItemPreview</web_1:servlet-name>
    <web_1:jsp-file>/jsp/item_preview.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ItemPreview</web_1:servlet-name>
    <web_1:url-pattern>/item_preview</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>footerJSP</web_1:servlet-name>
    <web_1:jsp-file>/jsp/footer.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>footerJSP</web_1:servlet-name>
    <web_1:url-pattern>/footer</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ForgetPassword</web_1:servlet-name>
    <web_1:jsp-file>/jsp/forgetPassword.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ForgetPassword</web_1:servlet-name>
    <web_1:url-pattern>/forgetPassword</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserProfile</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userProfile.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserProfile</web_1:servlet-name>
    <web_1:url-pattern>/userProfile</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>Contact</web_1:servlet-name>
    <web_1:jsp-file>/jsp/contact.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>Contact</web_1:servlet-name>
    <web_1:url-pattern>/contact</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>LegalNotice</web_1:servlet-name>
    <web_1:jsp-file>/jsp/legalNotice.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>LegalNotice</web_1:servlet-name>
    <web_1:url-pattern>/legalNotice</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>messagePage</web_1:servlet-name>
    <web_1:jsp-file>/jsp/message_page.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>messagePage</web_1:servlet-name>
    <web_1:url-pattern>/message_page</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>dealInformationPage</web_1:servlet-name>
    <web_1:jsp-file>/jsp/buy_it_information_page.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>dealInformationPage</web_1:servlet-name>
    <web_1:url-pattern>/deal_information</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>bidInformationPage</web_1:servlet-name>
    <web_1:jsp-file>/jsp/bid_information_page.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>bidInformationPage</web_1:servlet-name>
    <web_1:url-pattern>/bid_information</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ProductPage</web_1:servlet-name>
    <web_1:jsp-file>/jsp/productPage.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ProductPage</web_1:servlet-name>
    <web_1:url-pattern>/productPage</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>AdminMainPage</web_1:servlet-name>
    <web_1:jsp-file>/jsp/adminMainPage.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>AdminMainPage</web_1:servlet-name>
    <web_1:url-pattern>/adminMainPage</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>AdminProfile</web_1:servlet-name>
    <web_1:jsp-file>/jsp/adminProfile.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>AdminProfile</web_1:servlet-name>
    <web_1:url-pattern>/adminProfile</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>AdminRegistration</web_1:servlet-name>
    <web_1:jsp-file>/jsp/adminRegistration.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>AdminRegistration</web_1:servlet-name>
    <web_1:url-pattern>/adminRegistration</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>CategoryCreator</web_1:servlet-name>
    <web_1:jsp-file>/jsp/categoryCreator.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>CategoryCreator</web_1:servlet-name>
    <web_1:url-pattern>/categoryCreator</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>categoryViewer</web_1:servlet-name>
    <web_1:jsp-file>/jsp/сategoryViewerPage.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>categoryViewer</web_1:servlet-name>
    <web_1:url-pattern>/categoryViewerPage</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>loginForm</web_1:servlet-name>
    <web_1:jsp-file>/jsp/login_form.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>loginForm</web_1:servlet-name>
    <web_1:url-pattern>/login_form</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>userWall</web_1:servlet-name>
    <web_1:jsp-file>/jsp/user_wall.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>userWall</web_1:servlet-name>
    <web_1:url-pattern>/user_wall.jsp</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserSales</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userSales.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserSales</web_1:servlet-name>
    <web_1:url-pattern>/userSales</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserShopping</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userShopping.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserShopping</web_1:servlet-name>
    <web_1:url-pattern>/userShopping</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ActiveSalesContent</web_1:servlet-name>
    <web_1:jsp-file>/jsp/activeSalesContent.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ActiveSalesContent</web_1:servlet-name>
    <web_1:url-pattern>/activeSalesContent</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>EndedSalesContent</web_1:servlet-name>
    <web_1:jsp-file>/jsp/endedSalesContent.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>EndedSalesContent</web_1:servlet-name>
    <web_1:url-pattern>/endedSalesContent</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserAddProduct</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userAddProduct.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserAddProduct</web_1:servlet-name>
    <web_1:url-pattern>/userAddProduct</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserEditProduct</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userEditProduct.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserEditProduct</web_1:servlet-name>
    <web_1:url-pattern>/userEditProductJsp</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserComments</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userComments.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserComments</web_1:servlet-name>
    <web_1:url-pattern>/userComments</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>UserRestoreProduct</web_1:servlet-name>
    <web_1:jsp-file>/jsp/userRestoreProduct.jsp</web_1:jsp-file>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>UserRestoreProduct</web_1:servlet-name>
    <web_1:url-pattern>/userRestoreProductJsp</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:filter>
    <web_1:filter-name>sideMenuFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.SideMenuFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>sideMenuFilter</web_1:filter-name>
    <web_1:url-pattern>*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.LoginFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:url-pattern>/buyItServe</web_1:url-pattern>
    <web_1:url-pattern>/userPageServlet</web_1:url-pattern>
    <web_1:url-pattern>/userProfile</web_1:url-pattern>
    <web_1:url-pattern>/userSales</web_1:url-pattern>
    <web_1:url-pattern>/userShopping</web_1:url-pattern>
    <web_1:url-pattern>/userSalesServlet</web_1:url-pattern>
    <web_1:url-pattern>/userShoppingServlet</web_1:url-pattern>
    <web_1:url-pattern>/bid_serve</web_1:url-pattern>
    <web_1:url-pattern>/user_wall</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>bidFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.BidFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>bidFilter</web_1:filter-name>
    <web_1:url-pattern>/bid_serve</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>buyItFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.BuyItFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>buyItFilter</web_1:filter-name>
    <web_1:url-pattern>/buyItServe</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>closedAuctionFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.ClosedAuctionFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>closedAuctionFilter</web_1:filter-name>
    <web_1:url-pattern>/bid_information</web_1:url-pattern>
    <web_1:url-pattern>/deal_information</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>wrongCountFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.WrongCountFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>wrongCountFilter</web_1:filter-name>
    <web_1:url-pattern>/deal_information</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>bidAmountFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.BidAmountFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>bidAmountFilter</web_1:filter-name>
    <web_1:url-pattern>/bid_information</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>queryFialFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.QueryFailFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>queryFialFilter</web_1:filter-name>
    <web_1:url-pattern>/deal_information</web_1:url-pattern>
    <web_1:url-pattern>/bid_information</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>banFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.BanFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>banFilter</web_1:filter-name>
    <web_1:url-pattern>/buyItServe</web_1:url-pattern>
    <web_1:url-pattern>/userPageServlet</web_1:url-pattern>
    <web_1:url-pattern>/userProfile</web_1:url-pattern>
    <web_1:url-pattern>/userSales</web_1:url-pattern>
    <web_1:url-pattern>/userShopping</web_1:url-pattern>
    <web_1:url-pattern>/userSalesServlet</web_1:url-pattern>
    <web_1:url-pattern>/userShoppingServlet</web_1:url-pattern>
    <web_1:url-pattern>/bid_serve</web_1:url-pattern>
    <web_1:url-pattern>/user_wall</web_1:url-pattern>
    <web_1:url-pattern>/leave_message</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>encodingSetterFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.EncodingSetterFilter</web_1:filter-class>
    <web_1:init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>encodingSetterFilter</web_1:filter-name>
    <web_1:url-pattern>*</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>participateInOwnAuctionFilter</web_1:filter-name>
    <web_1:filter-class>com.epam.lab.buyit.controller.web.filter.ParticipateInOwnAuctionFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>participateInOwnAuctionFilter</web_1:filter-name>
    <web_1:url-pattern>/deal_information</web_1:url-pattern>
    <web_1:url-pattern>/bid_information</web_1:url-pattern>
    <web_1:dispatcher>REQUEST</web_1:dispatcher>
    <web_1:dispatcher>FORWARD</web_1:dispatcher>
  </web_1:filter-mapping>
</web_1:web-app>