<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>BuyIt</display-name>
	<welcome-file-list>
		<welcome-file>homePageServlet</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error404</location>
	</error-page>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.epam.lab.buyit.controller.web.service</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomePageServlet</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.HomePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePageServlet</servlet-name>
		<url-pattern>/homePageServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>categoryController</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.CategoryControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>categoryController</servlet-name>
		<url-pattern>/category_contrl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/select_category</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/registrationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/logOutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Error</servlet-name>
		<jsp-file>/jsp/error404.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/error404</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomePage</servlet-name>
		<jsp-file>/jsp/homePage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NavbarLogin</servlet-name>
		<jsp-file>/jsp/navbarLogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NavbarLogin</servlet-name>
		<url-pattern>/navbarLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Navbar</servlet-name>
		<jsp-file>/jsp/navbar.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Navbar</servlet-name>
		<url-pattern>/navbar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NavbarLogout</servlet-name>
		<jsp-file>/jsp/navbarLogout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NavbarLogout</servlet-name>
		<url-pattern>/navbarLogout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SidebarMenu</servlet-name>
		<jsp-file>/jsp/sidebarMenu.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SidebarMenu</servlet-name>
		<url-pattern>/sidebarMenu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<jsp-file>/jsp/registration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkLoginServlet</servlet-name>
		<servlet-class>com.epam.lab.buyit.controller.web.servlet.CheckLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkLoginServlet</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryViewer</servlet-name>
		<jsp-file>/jsp/category_viewer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryViewer</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ItemPreview</servlet-name>
		<jsp-file>/jsp/item_preview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemPreview</servlet-name>
		<url-pattern>/item_preview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>footerJSP</servlet-name>
		<jsp-file>/jsp/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>footerJSP</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgetPassword</servlet-name>
		<jsp-file>/jsp/forgetPassword.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgetPassword</servlet-name>
		<url-pattern>/forgetPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserProfile</servlet-name>
		<jsp-file>/jsp/userProfile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/userProfile</url-pattern>
	</servlet-mapping>
	



</web-app>