label.valid {
	width: 24px;
	height: 24px;
	font-weight: italic;
	display: inline-block;
	text-indent: -9999px;

}
label.error, #logindiv {
	heigth:24px;
	font-weight: italic;
	color: red;
	display: inline-block;
	padding-left: 5px;
	margin-top: 0;
}

label.valid1 {
	heigth:24px;
	width: 20px;
	font-weight: italic;
	display: inline-block;
}


