label.valid {
	width: 24px;
	height: 24px;
	font-weight: italic;
	display: inline-block;
	text-indent: -9999px;

}

label.error, #logindiv {
	font-weight: italic;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}